/* open-sans-300 - vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-vietnamese_latin_greek-ext_cyrillic_cyrillic-ext_greek_latin-ext-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Regular'),
       url('../fonts/montserrat-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v7-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Bold'),
       url('../fonts/montserrat-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v7-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?64394639');
      src: url('../fonts/fontello.eot?64394639#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?64394639') format('woff'),
           url('../fonts/fontello.ttf?64394639') format('truetype'),
           url('../fonts/fontello.svg?64394639#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }